version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: restohub-backend
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: production
    restart: unless-stopped
    